@model Arpagen.Models.Morador

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja excluir morador?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlApartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlApartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmApartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmApartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veículo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veículo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-success" />  |
        <a class="btn btn-success" asp-action="Index">Voltar</a>
    </form>
</div>
