@model IEnumerable<Arpagen.Models.Morador>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de moradores</h1>

<p>

    <a asp-action="Create" class="btn btn-success">Adicionar Morador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlApartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NmApartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veículo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlApartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NmApartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veículo)
            </td>
            <td>

                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>  |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Informações</a>  |
                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
